<div class="dialog-container">

    <div class="header">
      <h3>Informacje o kursie</h3>
      <div class="close" (click)="exit()"></div>
    </div>
    
    <form [formGroup]="form" mat-dialog-content>
      <div class="mb-2">
        <label id="name">Nazwa kursu:</label> 
        <input type='text' class="form-control" [ngClass]="{'is-invalid': isInvalid(form.controls['Name'])}" aria-describedby="name" [formControl]="form.controls['Name']">
      </div>
      <div class="mb-2">
        <label id="ID">ID kursu:</label> 
        <input type='text' class="form-control" [ngClass]="{'is-invalid': isInvalid(form.controls['ID'])}" aria-describedby="ID" [formControl]="form.controls['ID']">
      </div>
      <div class="mb-2">
        <label id="department">Wydział:</label>
        <select class="form-select" aria-describedby="department" [formControl]="form.controls['DepartmentID']">
          <option *ngFor="let department of departments; let i = index" [ngValue]=i>{{department}}</option>
        </select>
      </div>
      <div class="mb-2">
        <label id="type">Rodzaj zajęć:</label>
        <select class="form-select" aria-describedby="type" [formControl]="form.controls['TypeID']">
          <option *ngFor="let type of courseType; let i = index" [ngValue]=i>{{type}}</option>
        </select>
      </div>
      <div class="mb-2">
        <label id="lang">Język:</label>
        <select class="form-select" aria-describedby="lang" [formControl]="form.controls['LanguageTypeID']">
          <option *ngFor="let lang of language; let i = index" [ngValue]=i>{{lang}}</option>
        </select>
      </div>
      <div class="mb-2">
        <label id="ects">ECTS:</label>
        <input type="number" class="form-control" aria-describedby="ects" value="0" min="0" max="30" [formControl]="form.controls['Ects']"> 
      </div>
      <div class="mb-2">
        <label id="hoursUni">Liczba godzin na uczelni:</label>
        <input type="number" class="form-control" aria-describedby="hoursUni" value="0" min="0" max="120" [formControl]="form.controls['HoursUniversity']">
      </div>
      <div class="mb-2">
        <label id="hoursHome">Liczba godzin samodzielnej pracy:</label>
        <input type="number" class="form-control" aria-describedby="hoursHome" value="0" min="0" max="1000" [formControl]="form.controls['HoursStudent']">
      </div>
      <div class="mb-2">
        <label id="semester">Semestr:</label>
        <select class="form-select" aria-describedby="semester" [formControl]="form.controls['SemesterTypeID']">
          <option [ngValue]=0>Zimowy</option>
          <option [ngValue]=1>Letni</option>
        </select>
      </div>
      <div class="mb-2">
        <label id="year">Rok:</label>
        <input type="number" class="form-control" aria-describedby="year" value="2021" min="2010" max="2100" [formControl]="form.controls['Year']">
      </div>
      <div *ngIf="lecturers"class="mb-2">
        <label for="lecturer" class="form-label">Opiekun kursu:</label>
        <input class="form-control" list="datalistOptions" placeholder="Opiekun kursu" [ngClass]="{'is-invalid': isInvalid(form.controls['LecturerID'])}" [formControl]="form.controls['LecturerID']">
        <datalist id="datalistOptions">
          <option *ngFor="let lecturer of lecturers" [value]=lecturer.id>{{lecturer.name + ' ' + lecturer.surname}}</option>
        </datalist>
      </div>
      
    </form>
    <button class="btn btn-outline-primary mt-2" (click)="create()">Zapisz</button>
</div>