<div class="container mt-5">
    <div class="header">
        <h2>Zapisy</h2>
        <button class="btn btn-primary" (click)="createNewGroup()">Dodaj grupę</button>
    </div>
    
    <h4>Kliknij interesującą cię grupę na planie, aby zgłosić chęć prowadzenia</h4>
    <app-schedule-base *ngIf="groups.length; else noData" [onlySchedule]="true" [courseGroups]="groups" class="mt-3"></app-schedule-base>
</div>

<ng-template #noData>
    <div class="alert alert-warning">
      Dany kurs nie ma żadnych wolnych grup
    </div>
</ng-template>
