<div class="accordion-item mb-3">
    <h2 class="accordion-header" id="{{'heading' + id}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" attr.data-bs-target="{{'#collapse' + id}}" aria-expanded="false" attr.aria-controls="{{'collapse' + id}}">
        <h3>{{data.departmentName}}</h3>
      </button>
    </h2>
    <div id="{{'collapse' + id}}" class="accordion-collapse collapse" attr.aria-labelledby="{{'heading' + id}}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table *ngIf="filteredData else noData" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="course1" placeholder="ID" (input)="filterByID($event.target.value)">
                        <label for="course1">ID</label>
                    </div>
                </th>
                <th scope="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="course2" placeholder="Nazwa kursu" (input)="filterByName($event.target.value)">
                        <label for="course2">Nazwa kursu</label>
                    </div>
                </th>
                <th scope="col">
                  <div class="form-floating">
                      <input type="text" class="form-control" id="course3" placeholder="Forma zajęć" (input)="filterByType($event.target.value)">
                      <label for="course3">Forma zajęć</label>
                  </div>
                </th>
                <!-- <th scope="col">
                  <div class="form-floating">
                      <input type="text" class="form-control" id="course4" placeholder="Opiekun kursu">
                      <label for="course4">Opiekun kursu</label>
                  </div>
                </th> -->
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let course of filteredData">
                <tr [routerLink]="['/groups', course.id]">
                  <td>{{course.id}}</td>
                  <td>{{course.name}}</td>
                  <td>{{getCourseType(course)}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
      </div>
    </div>
</div>

<ng-template #noData>
  <div class="alert alert-warning text-center">
    Dla danego wydziału nie są dostępne żadne kursy
  </div>
  
</ng-template>

