
<div class="container">
    <div class="header mt-5">
      <h2>Zmień hasło</h2>
    </div>
    <div *ngIf="form" class="w-25">
        <form  [formGroup]="form">
            <div class="mb-2">
                <label id="name">Hasło:</label> 
                <input type='password' class="form-control" [ngClass]="{'is-invalid': isInvalid(form.controls['password'])}" aria-describedby="name" [formControl]="form.controls['password']">
            </div>
            <div class="mb-2">
                <label id="surname">Powtórz hasło:</label> 
                <input type='password' class="form-control" [ngClass]="{'is-invalid': isRepeatInvalid()}" aria-describedby="surname" [formControl]="form.controls['passwordRepeat']">
            </div>
        </form>
        <div class="alert alert-danger" *ngIf="error">
            Coś poszło nie tak, spróbuj ponownie później
          </div>
          <div class="alert alert-success" *ngIf="success">
            Hasło zaktualizowane
          </div>
        <button class="btn btn-primary mt-2" (click)="save()">Zapisz zmiany</button>
    </div>
</div>
<ngx-spinner></ngx-spinner>
  