<div class="container courses-list">
    <div class="header mb-4"> 
        <h2>Lista prowadzących</h2>
        <button class="btn btn-primary" (click)="createNewUser()">Dodaj prowadzącego</button>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="lecturer1" placeholder="Tytuł" (input)="filterByTitle($event.target.value)">
                        <label for="lecturer1">Tytuł</label>
                    </div>
                </th>
                <th scope="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="lecturer2" placeholder="Imię" (input)="filterByName($event.target.value)">
                        <label for="lecturer2">Imię</label>
                    </div>
                </th>
                <th scope="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="lecturer3" placeholder="Nazwisko" (input)="filterBySurname($event.target.value)">
                        <label for="lecturer3">Nazwisko</label>
                    </div>
                </th>
                <th scope="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="lecturer4" placeholder="Wydział" (input)="filterByMail($event.target.value)">
                        <label for="lecturer4">E-mail</label>
                    </div>
                </th>
                <th scope="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="lecturer5" placeholder="Katedra" (input)="filterByPhone($event.target.value)">
                        <label for="lecturer5">Nr. telefonu</label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="lecturers">
            <tr *ngFor="let lecturer of filteredData">
                <td>{{lecturer.title}}</td>
                <td>{{lecturer.name}}</td>
                <td>{{lecturer.surname}}</td>
                <td>{{lecturer.mail}}</td>
                <td>{{lecturer.phone}}</td>
            </tr>
        </tbody>
    </table>
</div>
  
  
  