<div class="container courses-list">
    <h2 class=mb-4>Lista prowadzących</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="lecturer1" placeholder="Tytuł">
                        <label for="lecturer1">Tytuł</label>
                    </div>
                </th>
                <th scope="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="lecturer2" placeholder="Imię">
                        <label for="lecturer2">Imię</label>
                    </div>
                </th>
                <th scope="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="lecturer3" placeholder="Nazwisko">
                        <label for="lecturer3">Nazwisko</label>
                    </div>
                </th>
                <th scope="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="lecturer4" placeholder="Wydział">
                        <label for="lecturer4">E-mail</label>
                    </div>
                </th>
                <th scope="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="lecturer5" placeholder="Katedra">
                        <label for="lecturer5">Nr. telefonu</label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="lecturers$ | async as lecturers">
            <tr *ngFor="let lecturer of lecturers">
                <td>{{lecturer.title}}</td>
                <td>{{lecturer.name}}</td>
                <td>{{lecturer.surname}}</td>
                <td>{{lecturer.mail}}</td>
                <td>{{lecturer.phone}}</td>
            </tr>
        </tbody>
    </table>
</div>
  
  
  