<div class="form-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class=form-item>
        <div class="container d-flex justify-content-center">
            <div class="row login-box">
                <mat-card class= "card">
                    <mat-card-title class="text-center">
                        <strong>Logowanie</strong>
                    </mat-card-title>
                    <mat-card-content class="d-flex flex-column fields">
                        <mat-form-field appearance="fill">
                            <mat-label>Login</mat-label>
                            <input matInput placeholder="E-mail" [formControl]="form.controls['login']" required>
                            <mat-error *ngIf="form.controls['login'].invalid">You must enter a value</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Hasło</mat-label>
                            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" minlength="4" maxlength="32" [formControl]="form.controls['password']" required>
                            <mat-error *ngIf="form.controls['password'].invalid">{{getPasswordErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <div class="alert alert-danger" *ngIf="loginError">
                            {{errorMessage}}
                        </div>
                        <div class="mb-2">
                            <mat-checkbox [formControl]="form.controls['rememberMe']">Pamiętaj hasło</mat-checkbox>
                        </div>
                        <button type="submit" mat-raised-button>Zaloguj</button>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>     
    </form>
</div>
<ngx-spinner></ngx-spinner>
