<div class="dialog-container">

    <div class="header">
      <h3>Importuj kursy z pliku</h3>
      <div class="close" (click)="exit()"></div>
    </div>
    <h4>Wybierz znak podziału:</h4>
    <form [formGroup]="form" class="d-flex p-2 mb-4">
        <div class="form-check me-4">
            <input class="form-check-input" type="radio" id="flexRadioDefault1" value="/t" name="delimiter" formControlName="delimiter">
            <label class="form-check-label">
            TAB
            </label>
        </div>
        <div class="form-check me-4">
            <input class="form-check-input" type="radio" id="flexRadioDefault2"  value=" " name="delimiter" formControlName="delimiter">
            <label class="form-check-label">
                Spacja
            </label>
        </div>
        <div class="form-check me-4">
            <input class="form-check-input" type="radio" id="flexRadioDefault3"  value=";" name="delimiter" formControlName="delimiter">
            <label class="form-check-label">
                ;
            </label>
        </div>
        <div class="form-check me-4">
            <input class="form-check-input" type="radio" id="flexRadioDefault4" value="," name="delimiter" formControlName="delimiter" checked>
            <label class="form-check-label">
                ,
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="flexRadioDefault5" value="|" name="delimiter" formControlName="delimiter">
            <label class="form-check-label">
                |
            </label>
        </div>
    </form>
    <ngx-file-drop dropZoneLabel="Upuść plik z danymi tutaj" (onFileDrop)="dropped($event)" >
    </ngx-file-drop>
    <div class="alert alert-success mt-3" *ngIf="loaded">Ilość wczytanych kursów: {{csvRecords.length}}</div>
    <div class="alert alert-danger mt-3" *ngIf="error">Plik z danymi jest niepoprawny</div>
    <div class="alert alert-danger mt-3" *ngIf="coursesConflict">Zaimportowane kursy już istnieją w bazie</div>
    <div class="btn btn-primary mt-3" [class.disabled]="!loaded" (click)="create()">Dodaj kursy</div>
</div>