<div class="navbar">
    <a routerLink="/tournaments" class="navbar-item item-left"></a>
    <a routerLink="/tournaments" class="navbar-item link-item" >Tournaments</a> 
    <a routerLink="/teams" class="navbar-item link-item" >My teams</a> 
    <a routerLink="/randomizer" class="navbar-item link-item" >Randomizer</a> 
    <div class="navbar-item item-right">
        <a routerLink="/account" class="user-item">
            <div class="account"><mat-icon >account_box</mat-icon> </div>
            <div class="link-item"> My account </div>
        </a> 
        <a class="user-item link-item"> Logout </a>
    </div>  
</div>