<div class="container courses-list">
  <h2>Lista kursów</h2>
  <h4>Znajdź interesujacy cię kurs</h4>
  <div class="accordion mt-5" id="accordionExample">
    
    <app-courses-item [id]="'7'" [faculty]="'Wydział Elektroniki'">
    </app-courses-item>
    <app-courses-item [id]="'1'" [faculty]="'Wydział Elektroniki'">
    </app-courses-item>
    <app-courses-item [id]="'2'" [faculty]="'Wydział Elektroniki'">
    </app-courses-item>
    <app-courses-item [id]="'3'" [faculty]="'Wydział Elektroniki'">
    </app-courses-item>
  </div>
  

</div>


