
<div *ngIf="events.length && eventsSchedule.length; else noData" class="row text-center d-flex justify-content-between mt-5">
  <div class="col-md-4 float-end">
    <div class="btn-group">
      <div class="btn btn-primary"
            (click)="setView('schedule')"
            [class.active]="view === 'schedule'">
        Siatka
      </div>
      <div class="btn btn-primary"
            (click)="setView('weekly')"
            [class.active]="view === 'weekly'">
        Plan tygodniowy
      </div>
    </div>
  </div>
  <div *ngIf="view === 'weekly'" class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="CalendarView.Week"
            [(viewDate)]="viewDate">
        Poprzedni
      </div>
      <div class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate">
        Aktualny
      </div>
      <div class="btn btn-primary"
            mwlCalendarNextView
            [view]="CalendarView.Week"
            [(viewDate)]="viewDate">
        Następny
      </div>
    </div>
  </div>
</div>
<br />
<div *ngIf="events.length && eventsSchedule.length" [ngSwitch]="view">
  <mwl-calendar-week-view *ngSwitchCase="'weekly'"
                          [viewDate]="viewDate"
                          [events]="events"
                          [refresh]="refresh"
                          [locale]="locale"
                          [dayStartHour]="7"
                          [dayEndHour]="22"
                          [hourSegmentHeight]="50"
                          [hourSegments]="1"
                          [weekStartsOn]="weekStartsOn"
                          [weekendDays]="weekendDays">
  </mwl-calendar-week-view>
  <mwl-calendar-week-view *ngSwitchCase="'schedule'"
                          [headerTemplate]="customHeaderTemplate"
                          [viewDate]="scheduleViewDate"
                          [events]="eventsSchedule"
                          [refresh]="refresh"
                          [locale]="locale"
                          [dayStartHour]="7"
                          [dayEndHour]="22"
                          [hourSegmentHeight]="50"
                          [hourSegments]="1"
                          [weekStartsOn]="weekStartsOn"
                          [weekendDays]="weekendDays">
  </mwl-calendar-week-view>
  <div class="schedule-legend">
    <div class="course other">Inne</div>
    <div class="course lecture">Wykład</div>
    <div class="course lab">Laboratoria</div>
    <div class="course exercise">Ćwiczenia</div>
    <div class="course project">Projekt</div>
    <div class="course seminar">Seminarium</div>
  </div>
</div>

<ng-template #customHeaderTemplate
             let-days="days"
             let-locale="locale"
             let-dayHeaderClicked="dayHeaderClicked"
             let-eventDropped="eventDropped"
             let-trackByWeekDayHeaderDate="trackByWeekDayHeaderDate"
             let-dragEnter="dragEnter">
  <div class="cal-day-headers" role="row">
    <div class="cal-header"
         *ngFor="let day of days; trackBy: trackByWeekDayHeaderDate"
         [class.cal-past]="day.isPast"
         [class.cal-today]="day.isToday"
         [class.cal-future]="day.isFuture"
         [class.cal-weekend]="day.isWeekend"
         [ngClass]="day.cssClass"
         tabindex="0"
         role="columnheader">
      <b>{{ day.date | calendarDate: 'weekViewColumnHeader':locale }}</b>
      <br/>
    </div>
  </div>
</ng-template>

<ng-template #noData>
  <div *ngIf="emptyData" class="alert alert-warning">
    Nie prowadzisz jeszcze żadnych zajęć!
  </div>
</ng-template>